body{
    background: rgb(97, 131, 89);
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

h1{
    font-size: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    color: rgb(193, 210, 178);
}